#aboutBody{
    background-color: aquamarine;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#head{
    background-color: orange;
}
#content{
    text-align: left;
}
a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15vw;
}